*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
body{
    background-color: #101218;
    
    
    
    
}



nav .container{
    display: flex;
    justify-content: space-between;
    margin: 20px ;
}

.left a{
    color: #e8e8e8;
    margin-right: 20px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}


.right a{
    color: #e8e8e8;
    margin-right: 20px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.right button{
    background-color: rgb(21, 214, 21);
    padding:8px;
    border: none;
    border-radius: 50%;
}

.left a:hover,.right a:hover{
    text-decoration: underline;
}


section .container{
    /* min-height: calc(100vh - 60px); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 81vh;
    overflow: hidden;
    
    
}
.container .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper img{
    margin-bottom: 20px;
}

.wrapper input{
    width: 600px;
    height: 45px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #3f424a;
    border: none;
    color: white;
}

.wrapper button{
    height: 36px;
    width: 150px;
    background-color: #3f424a;
    color: white;
    border: none;
    margin-right: 20px;
    border-radius: 5px;
}

.wrapper .lang{
    display: flex;
    margin-top: 20px;
    
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.wrapper .lang h5{
    margin-right: 5px;
    text-align: center;
    font-size: small;
    font-family: Arial, sans-serif;
    font-weight: 50;

}

.wrapper .lang a{
    color: #7eaaff;
    padding: 3px;
    font-size: small;
}


footer{
    color: white;
    background-color: #292c32;
}


footer .country{
    font-family: Arial, sans-serif;
    
    padding: 15px;
}





hr.solid {
    border-top: 1px solid #292c32;
}

footer .last{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

footer .left a:hover, footer .right a:hover{
    text-decoration: underline;
}


@media(max-width: 767px){
    .wrapper input{
        width: 400px;
    }
    .wrapper .lang{
        flex-direction: column;
        text-align: center;
    }
    .wrapper .lang h5{
        margin-bottom: 10px;
    }
    .wrapper .lang a{
        margin:10px;
        padding: 10px;
        
    }

    footer .last{
        flex-direction: column;
        text-align: center;
        
    }
    footer .left{
        margin-bottom: 10px;
    }

}
